prof-user/MSGLOG.txt
prof-user/0*
prof-user/1*
prof-user/2*
prof-user/3*

forum-server/entities/*.o
forum-server/usecases/*.o
forum-server/file-manager/*.o
forum-server/udp-manager/*.o
forum-server/tcp-manager/*.o
forum-server/server
forum-server/tmp/*
forum-server/topics/*

forum-user/file-manager/*.o
forum-user/protocol-manager/*.o
forum-user/topic/*.o
forum-user/user/*.o
forum-user/vector/*.o
forum-user/client
